*{
    margin: 0px;
    padding: 0px;
}
html{
    margin:0px;
    padding: 0px;
}

header{
    background-color: rgba(238, 151, 79, 0.459);
    height: 75px;
    margin: 0px 0px 20px;
    padding: 10px 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px 0px;
    
}
main, section{
    margin:20px auto;
    padding:20px;
    max-width: 800px;
    .tutorial{
        margin:20px 20px;
        
    }


    
}  

.tutorial-instrucoes{
    text-align: left;
    flex-direction: column;
}



h1 {
    font-size: 3.0rem;
    color:black;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 2.4rem;
    color:black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1.0rem;
    color:black;
    text-align: center;
}
p {
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    margin: 0px 50px;
  }

img{
    height: 300px;
    width: 400px;
    border-radius: 5px;
}

.redes-contato {
    max-width: 500px;
    margin: 40px 40px;
    padding: 20px;
}
  
.linha {
    font-size: 0;
    margin-bottom: 12px;
}
  
.linha p {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    margin: 0;
    
}
  
.linha p:last-child {
    text-align: right;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #3984f3c0;
  
}

ul,li{
    margin:10px auto;
    text-align: center;
    list-style-position: inside;
}

span{
    margin:20px 20px;
    padding: 10px 10px;
    text-align: right;
    display: block;
}


form{
    

    >h3{
        margin: 10px 0px;
        padding: 2px 2px;
        text-align: center;
    }
    >input{
        margin:10px 0px;
        padding: 5px 5px;
    }
    
}

.form-contato {
    text-align: left;
    margin: 10px 20px;
    >label{
        margin: 20px 100px;
        display:block;
        text-align: left;
        >input[type="text"] {
            display: block;
        }
    }
}

.form-contato input[type="submit"]{
    margin:10px auto;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    display: block;  
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin:2px 100px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    display: block;
}



form input[type="submit"]{
    margin-left: 100px;
    padding: 5px;
    font-size: 15px;
    
     
}

form label{
    margin:10px 100px;
    text-align: left;
    
}

.imagem-exemplo {
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;

    >h2{
        margin:10px;
    }
    >img{
        width: 600px;
        height: 300px;
    }
}

.funcionalidades {
    color: black;
    margin: 5px 10px;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;

    >table{
        margin: auto;
    }    
}
td{
    padding:10px;
    text-align: left;
}

#outra-imagem{
    display: none;
}



a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 3px 3px;
    padding: 2px 2px;
    background-color: #d4994c;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.voltar-ao-menu{
    color:rgba(245, 69, 69, 0.678);
    font-weight: bold;
    text-decoration: none;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    margin: 10px 20px;
    padding: 5px 0px;
    text-align: left;
    display: inline;
}


.titulo-tutorial{
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 20px;
    text-align: center;
}

footer{

    height: 75px;
    background-color: rgba(238, 151, 79, 0.459);
    margin: 10px 0px 0px;
    padding: 10px 10px ;


    >nav>ol>li{
        display: inline-block;
        margin: 0px 5px;
        padding: 5px 5px;
    }
}

